/* GOOGLE FONTS */

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400;1,500;1,600;1,700;1,800&family=Montserrat:wght@100;300;400;600&display=swap");

/*  INITIAL RESET */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CUSTOM VARIABLES */

:root {
  /* FONT */
  --HEADER-FONT: "Montserrat", sans-serif;
  --PRIMARY-FONT: "Lora", serif;

  /* COLOURS */
  --PRIMARY-FONT-COLOR: #696969;
  --ACCENT-COLOR: #a161bf;
  --SECONDARY-ACCENT-COLOR: #f3f3f3;
  --BORDER-COLOR: #9e9e9e69;
  --HEADING-COLOR: #444444;
  --SUBHEADER-COLOR: #393939;
}

/* --------------- start of header------------------------------ */

header .mobile-btn {
  display: none;
}

header nav {
  /* position: relative; */
  font-family: var(--HEADER-FONT);
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  /* padding-block: 20px; */
  border-bottom: 1px solid var(--SECONDARY-ACCENT-COLOR);
  height: 80px;
  align-items: center;
  position: relative;
  z-index: 5;
}

nav .primary-nav ul {
  list-style: none;
  display: flex;
  font-size: 12px;
  letter-spacing: 1.8px;
  gap: 40px;
  height: 100%;
}

nav .primary-nav ul a {
  text-decoration: none;
  font-weight: 700;
  color: black;
}

nav .primary-nav ul a:active,
nav .primary-nav ul a:hover {
  color: var(--ACCENT-COLOR);
}

/* ======dropdown menu====== */
/* nav ul li> ul{
    width: 300px;
    display: list-item;
    position: absolute;
    bottom: 0;
    left: 0;
} */

/* ===search block ===*/

/* primary nav with mobile view */
.primary-nav.mobile {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: rgb(201, 223, 242);
  height: 600px;
  width: 400px;
  border-radius: 0 0 20px 0;
  transform: translateX(100%);
  transition: transform 0.4s ease;
}



.primary-nav.mobile ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  padding: 0 30px;
}

nav .search-block input {
  height: 30px;
  padding-inline: 2px;
  border-radius: 4px;
  border: none;
}

nav .search-block input:active {
  border: 1px solid var(--ACCENT-COLOR);
}

nav .search-block .fas {
  font-size: 0.7rem;
  color: var(--PRIMARY-FONT-COLOR);
  margin-left: 5px;
}

/* ===========logo=========== */
header .logo {
  text-align: center;
  padding-block: 40px;
}

header .logo p {
  margin-top: 10px;
  font-family: var(--HEADER-FONT);
  font-size: 0.87rem;
  letter-spacing: 1.7px;
  color: var(--PRIMARY-FONT-COLOR);
}
/* --------------- end of header------------------------------ */

/* ===========hero session============== */
.hero {
  min-height: 58vh;
  background: url(images/thisgirl.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-content: center;
  color: white;
}

.hero .hero-content {
  text-align: center;
  font-size: 0.8rem;
}

.hero .hero-content h1 {
  margin-block: 20px;
  text-transform: capitalize;
  font-family: var(--PRIMARY-FONT);
  font-style: italic;
  letter-spacing: 1.2px;
}

.hero .hero-content h3 {
  text-transform: uppercase;
  font-family: var(--HEADER-FONT);
  font-weight: 100;
}

.hero .hero-content .underline,
.title span {
  position: relative;
  display: inline;
}

.hero .hero-content .underline::after,
.title span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  border-bottom: 2px solid white;
  width: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.hero .hero-content h3 a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding-inline: 20px;
  border-inline: 2px solid white;
  transition: color 0.5s ease-in-out;
}

.hero .hero-content h3 a:hover {
  color: var(--ACCENT-COLOR);
}

/* ==========main section======== */
.grid-container {
  display: grid;
  grid-template-columns: 50vw 1fr;
  gap: 30px;
  padding: 3rem 10%;
}

/* start of postformat section */
.title {
  text-align: center;
  font-family: var(--PRIMARY-FONT);
}

.title span {
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: var(--HEADER-FONT);
  color: var(--PRIMARY-FONT-COLOR);
  letter-spacing: 1.6px;
  margin-bottom: 10px;
}

.title span::after {
  border-bottom: 2px solid var(--ACCENT-COLOR);
}

.title h2 {
  text-transform: capitalize;
  margin-block: 20px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--SUBHEADER-COLOR);
}

.title p {
  font-size: 0.9rem;
  color: var(--PRIMARY-FONT-COLOR);
}

.post-format {
  font-family: var(--PRIMARY-FONT);
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.post-format.gallery {
  padding-top: 3.5rem;
}

.post-format .image {
  margin-block: 22px;
}
.post-format .image img {
  width: 100%;
}

.post-format p {
  font-size: 0.9rem;
  line-height: 1.8;
  color: var(--PRIMARY-FONT-COLOR);
  margin-bottom: 10px;
}

.post-format .read-more {
  text-align: center;
  margin-bottom: 20px;
}

.post-format .read-more a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--HEADER-FONT);
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--PRIMARY-FONT-COLOR);
  letter-spacing: 1.2px;
  padding: 2px 10px;
  border-inline: 2px solid var(--PRIMARY-FONT-COLOR);
}

/* --------------start of main section template-------------------- */

.main-section-templates {
  display: grid;
  padding-block: 2rem;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.main-section-templates .blog {
  border-bottom: none;
}

.post-format.blog .image {
  text-align: center;
}

.post-format.blog .image img {
  width: 100%;
  max-width: 350px;
}
/* --------------start of side section-------------------- */
.about-section span {
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: var(--HEADER-FONT);
  color: var(--PRIMARY-FONT-COLOR);
  letter-spacing: 1.6px;
  margin-bottom: 10px;
  position: relative;
}

.about-section span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  border-bottom: 2px solid var(--ACCENT-COLOR);
  width: 40px;
  left: 0;
}

.about-section img {
  width: 100%;
  height: auto;
  margin-block: 30px;
}

.about-section p {
  margin-top: -20px;
  font-size: 1rem;
  line-height: 1.8;
  color: var(--PRIMARY-FONT-COLOR);
  margin-bottom: 3em;
}

/* follow section */

.follow-me span {
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: var(--HEADER-FONT);
  color: var(--PRIMARY-FONT-COLOR);
  letter-spacing: 1.6px;
  margin-bottom: 10px;
  position: relative;
}

.follow-me span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  border-bottom: 2px solid var(--ACCENT-COLOR);
  width: 40px;
  left: 0;
}

.follow-me .follow-icons {
  margin-block: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 32px;
}

.follow-me .follow-icons i {
  padding-left: 1.7em;
  color: var(--PRIMARY-FONT-COLOR);
}

.follow-me .follow-icons i:hover {
  color: var(--ACCENT-COLOR);
}
/* follow section */

/* mini blogs section */

.mini-blogs .recents {
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: var(--HEADER-FONT);
  color: var(--PRIMARY-FONT-COLOR);
  letter-spacing: 1.6px;
  margin-bottom: 10px;
  position: relative;
}

.mini-blogs .recents::after {
  content: "";
  position: absolute;
  bottom: -10px;
  border-bottom: 2px solid var(--ACCENT-COLOR);
  width: 40px;
  left: 0;
}
/* post-one/two */

.post-one {
  display: flex;
  gap: 20px;
}

.post-one .blogs {
  padding-top: 10%;
}
.post-one img {
  height: 80px;
  width: 80px;
  margin-block: 20px;
  object-fit: cover;
}

.post-one .blogs span {
  font-weight: 400;
  font-size: 1rem;
  text-transform: capitalize;
  font-family: var(--PRIMARY-FONT);
  font-style: italic;
  color: var(--HEADING-COLOR);
  letter-spacing: 1px;
}

.post-one .blogs p {
  font-size: 12px;
  line-height: 1.8;
  color: var(--PRIMARY-FONT-COLOR);
  margin-bottom: 3em;
  font-family: var(--PRIMARY-FONT);
}

/* end of mini blogs section */

/* search box section */

.mini-blogs .search-box {
  display: flex;
  padding-top: 3em;
  margin-bottom: 3em;
}

.mini-blogs .search-box input {
  width: 230px;
  border: 2px solid rgb(233, 233, 233);
  padding: 5px;
  border-radius: 1px;
}

.mini-blogs .search-box input:focus {
  outline: 1px solid rgba(0, 107, 128, 0.623);
  border: none;
  border-radius: none;
}

.mini-blogs .find {
  display: flex;
  height: 33px;
  min-width: 5rem;
  background-color: rgb(233, 233, 233);
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  color: var(--PRIMARY-FONT-COLOR);
  font-family: var(--HEADER-FONT);
  font-size: smaller;
}

.mini-blogs .find:hover {
  background-color: var(--ACCENT-COLOR);
  color: rgb(233, 233, 233);
}
/* end of search box */

/*  list */

.mini-blogs .categories {
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: var(--HEADER-FONT);
  color: var(--PRIMARY-FONT-COLOR);
  letter-spacing: 1.6px;
  margin-bottom: 10px;
  position: relative;
}

.mini-blogs .categories::after {
  content: "";
  position: absolute;
  bottom: -10px;
  border-bottom: 2px solid var(--ACCENT-COLOR);
  width: 40px;
  left: 0;
}

.mini-blogs ul {
  list-style-type: none;
  width: 330px;
  padding-top: 0.8em;
}

.mini-blogs ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(245, 243, 243);
  padding: 0.5em;
  text-transform: capitalize;
  font-size: 14px;
  color: var(--HEADING-COLOR);
  font-family: var(--PRIMARY-FONT);
}

.mini-blogs .remainder {
  display: flex;
  flex-direction: column;
  padding-top: 4em;
}

.mini-blogs .remainder p {
  text-transform: capitalize;
  font-size: 14px;
  padding-bottom: 50px;
  color: var(--HEADING-COLOR);
  font-family: var(--PRIMARY-FONT);
}

.mini-blogs .remainder span {
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: var(--HEADER-FONT);
  color: var(--PRIMARY-FONT-COLOR);
  letter-spacing: 1.6px;
  margin-bottom: 10px;
  position: relative;
}

.mini-blogs .remainder span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  border-bottom: 2px solid var(--ACCENT-COLOR);
  width: 40px;
  left: 0;
}

/*  list ending */

/* ----------------------end of side section-------------------- */

/* --------------------footer styling ----------------------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 12em;
  width: 100%;
  background-color: rgb(238, 237, 237);
}

.footer .footer-icon {
  color: var(--PRIMARY-FONT-COLOR);
}

.footer-icon i {
  padding-right: 1.6em;
}
.footer-icon i:hover {
  color: var(--ACCENT-COLOR);
}

.footer p {
  text-transform: capitalize;
  font-size: 12px;
  padding-block: 30px;
  color: var(--HEADING-COLOR);
  font-family: var(--HEADER-FONT);
}
/* --------------------end of footer styling ----------------------- */

/* ----------MEDIA QUERRY-------- */
@media screen and (max-width: 996px) {
  .grid-container {
    grid-template-columns: 1fr;
    padding: 5% 3%;
  }
}

@media screen and (max-width: 769px) {
  header nav {
    justify-content: space-between;
    padding-inline: 15px;
  }

  .primary-nav {
    display: none;
  }

  .primary-nav.mobile {
    display: block;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
  }

  header .mobile-btn {
    display: block;
  }

  .main-section-templates {
    /* display: grid;
  padding-block: 2rem; */
    grid-template-columns: 1fr;
    /* column-gap: 20px; */
  }

  footer {
    min-width: 350px;
  }
}
